/* 
    Header
*/
.roadmaps-header {
    min-height: calc(100vh - 70px);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}


.roadmaps-header h1 {
    font-size: 76px;
    font-weight: 600;
    color: #181E25;
}

.roadmaps-header p {
    color: #5F7086;
    font-size: 20px;
    max-width: 792px;
    margin: 1rem auto 2rem auto;
}

.roadmaps-header a {
    display: inline-block;
    height: 53px;
    width: 197px;
    border-radius: 4px;
    padding: 14px 24px 12px 24px;
    background: #4094EC;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* 
    Mentorship
*/

.mentorship-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentorship-card {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;

}

.mentorship-card .details {
    order: 2;
    width: 60%;
}

.mentorship-section h2 {
    text-align: left;
    color: #181E25;
    font-size: 36px;
}

.mentorship-section p {
    text-align: left;
    font-size: 20px;
    color: #5F7086;
    margin-bottom: 24px;
}

.mentorship-section a {
    display: inline-block;
    height: 53px;
    width: 197px;
    border-radius: 4px;
    padding: 14px 24px 12px 24px;
    background: #4094EC;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.mentorship-section img {
    display: block;
    order: 1;
    max-width: 580px;
    object-fit: contain;
}

/* 
    Roadmap cards container
*/

.roadmaps-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.roadmaps-container .card {
    border: 1px solid #DEE4ED;
    border-radius: 8px 8px 0px 0px;
}

.roadmaps-container .card .details {
    padding: 20px;
}

.roadmaps-container h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

.roadmaps-container p {
    font-size: 18px;
    color: #5F7086;
    line-height: 145%;
}

.roadmaps-container img {
    width: 100%;
}

@media screen and (max-width: 1100px) {

    .mentorship-section {
        margin-bottom: 3rem;
    }

    .mentorship-card {
        flex-direction: column;
        max-width: min-content;
    }

    .mentorship-card .details {
        width: 100%;
    }

}


@media screen and (max-width: 800px) {

    .roadmaps-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .roadmaps-header h1 {
        font-size: 3rem;
    }

    .roadmaps-header p {
        font-size: 15px;
    }

    .roadmaps-header a {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {

    .mentorship-card {
        max-width: 100vw;
    }

    .mentorship-section h2 {
        font-size: 24px;
    }

    .mentorship-card p {
        font-size: 15px;
    }

    .mentorship-section a {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {

    .roadmaps-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .roadmaps-container p {
        font-size: 15px;
    }
}