.layout {
  padding-inline: 1.25rem;
  padding-block: 6rem;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layout p {
  max-width: 600px;
  text-align: center;
}
.btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.partner-button a {
  white-space: nowrap;
}
@media screen and (max-width: 500px) {
  .partner {
    min-width: 200px;
  }
}
