.course_cont_para{
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.01em;
    color: white;
    margin-top: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.course_cont_b{
    max-width: 1200px;
    height: 232px;
    margin-left: auto;
    top: 30rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-right: auto;
}

.course_cont_b_1, .course_cont_b_2{
    display: flex;
    margin-top: 50px;
    width: 1200px;
    max-width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.course_cont_b_1 img{
    margin-top: 20px;
    width:56px;
    height: 56px;
}
.course_cont_b_1  p{
    margin-top: 35px;
    color: #181E25;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 20px;
}
.course_cont_b_2  p{
    margin-top: 35px;
    color: #181E25;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 20px;
}
.course_cont_b_2{
    display: flex;
    margin-top: 22px;
    text-align: center;
    width: 1200px;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.course_cont_b_2 img{
    margin-top: 20px;
    width:56px;
    height: 56px;
    
}
.course_cont_b_1_frame_1{
    width: 280px;
    display: flex;
}
.course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
    padding-left: 76px;
    width: 280px;
    display: flex;
}
.course_cont_b_1_frame_4{
    width: 280px;
    display: flex;
}

.course_cont_2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 5fr));
    grid-gap: 70px;
    align-items: stretch;
   margin-left: auto;
   margin-right: auto;
    max-width: 1000px;
    border-radius: 10px;
}
.course_cont_2> .course_cont_2_card{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.course_cont_2{
    margin-top: 120px;
}
.course_cont_2_card_1{
    max-width: 100%;
    width: 100%;
    object-fit: fill;
}
.course_cont_2_card_1_heading{
    font-style: normal;
    font-weight: 551;
    font-size: 20px;
    line-height: 145%;
    padding-left: 10px;
    padding-top: 30px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
}
.course_cont_2_card_1_para_1{
    font-weight: 450;
    font-size: 18px;
    line-height: 145%;
    padding-left: 10px;
    padding-top: 10px;
    color: #5F7086;
}
@media  screen and (max-width: 1429px) {
    .course_cont_b_1  p{
        padding-left: 10px;
    }
    .course_cont_b_2  p{
        padding-left: 10px;
    }
    .course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
        padding-left: 76px;
        width: 580px;
        display: flex;
    }
    .course_cont_b_1_frame_1{
        width: 680px;
        display: flex;
    }
    .course_cont_b_1_frame_4{
        width: 680px;
        display: flex;
    }
}
@media  screen and (max-width: 1386px){
    .course_cont_b_1  p{
        padding-left: 10px;
    }
    .course_cont_b_2  p{
        padding-left: 10px;
    }
    .course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
        padding-left: 76px;
        width: 880px;
        display: flex;
    }
    .course_cont_b_1_frame_1{
        width: 980px;
        display: flex;
    }
    .course_cont_b_1_frame_4{
        width: 980px;
        display: flex;
    }
    .course_cont_b{
        display: flex;
        max-width: 90%;
        width: 1300px;
        height: 232px;
        top: 30rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media  screen and (max-width: 1297px){
    .course_cont_b_2  p{
        padding-left: 10px;
    }
    .course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
        padding-left: 76px;
        width: 980px;
        display: flex;
    }
    .course_cont_b_1_frame_1{
        width: 1180px;
        display: flex;
    }
    .course_cont_b_1_frame_4{
        width: 1180px;
        display: flex;
    }
}
@media  screen and (max-width: 1249px){
    .course_cont_b_2  p{
        padding-left: 10px;
    }
  
    .course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
        padding-left: 76px;
        width: 980px;
        display: flex;
    }
    .course_cont_b_1_frame_1{
        width: 1480px;
        display: flex;
    }
    .course_cont_b_1_frame_4{
        width: 1480px;
        display: flex;
    }
}

@media  screen and (max-width: 1250px){
    .course_cont_b_1  {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        width: 800px;
        max-width: 10%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .course_cont_b_2 {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 800px;
        max-width: 10%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
   
 
    .course_cont_b_2  p{
        padding-left: 10px;
    }
  
    .course_cont_b_1_frame_2,.course_cont_b_1_frame_3,.course_cont_b_1_frame_5,.course_cont_b_1_frame_6{
        padding-left: 76px;
        width: 480px;
        display: flex;
        
    }
    .course_cont_b_1_frame_1{
        width: 480px;
        display: flex;
        padding-left: 76px;
        
    }
    .course_cont_b_1_frame_4{
        width: 480px;
        display: flex;
        padding-left: 76px;
    }
    .course_cont_b{
        margin-top: 50px;
       height: 300px;
    }
    .course_cont_2{
        margin-top: 120px;
    }

}
@media  screen and (max-width: 696px){
    .course_cont_b{
        margin-top: 100px;
        height: 500px;
        max-width:400px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
     }
     .course_cont_2{
        margin-top: 120px;
    }
}
