.link {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}
.link.left {
  flex-direction: row-reverse;
}

.link svg {
  position: relative;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
@media (prefers-reduced-motion: no-preference) {
  .link svg {
    transform: translateX(-0.25rem);
  }
  .link.left svg {
    transform: translateX(0.25rem) rotate(180deg);
  }
}
.link:hover svg {
  transform: translateX(0);
}

.link svg .arrow {
  /* 'origin-left transition-all duration-200',
  'opacity-0 motion-safe:-translate-x-1',
  'group-hover:translate-x-0 group-hover:opacity-100' */
  transform-origin: left;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .link svg .arrow {
    transform: translateX(-0.25rem);
  }
}

.link:hover svg .arrow {
  transform: translateX(0);
  opacity: 1;
}
