.layout {
  padding-block: 6rem;
  margin-inline: auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layout p {
  max-width: 600px;
  text-align: center;
}
.btns {
  width: 100%;
  height: auto;
  display: flex;
  place-content: center;
  flex-wrap: no-wrap;
  gap: 1rem;
}
.btns .copy {
  position: relative;
  padding: 1.2rem;
  border-radius: 999px;
}
.copy::after {
  content: 'Copied';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: scale(0.95) translate(-50%, calc(50% + 5px));
  background-color: var(--clr-content);
  color: var(--clr-base-100);
  border-radius: 0.375rem;
  padding-inline: 0.5rem;
  pointer-events: none;
  font-size: 0.75rem;
  opacity: 0;
  transition: all 0.3s ease-in;
  transform-origin: center;
}

.copy.copied::after {
  opacity: 1;
  transform: scale(1) translate(-50%, calc(100% + 5px));
}

@media screen and (max-width: 400px) {
  .btns a{
    font-size: min(1.125rem, 4vw) 
  }
}

@media screen and (max-width: 500px) {
  .partner {
    min-width: 200px;
  }
}
