.course_cont_para{
    position: absolute;
    max-width: 80%;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #181E25;
    left: 10%;
    top: 10rem;
}
.course_cont_b{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    max-width: 80%;
    width: 1300px;
    height: 232px;
    left: 10%;
    top: 30rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    }
.course_cont_b_1{
    display: flex;
    margin-top: 22px;
    margin-left: 17%;
    width: 1200px;
    max-width: 70%;
}
.course_cont_b_1 img{
    margin-top: 20px;
    width:56px;
    height: 56px;
}
.course_cont_b_1  p{
    margin-top: 35px;
    color: #181E25;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 12px;
}
.course_cont_b_2  p{
    margin-top: 35px;
    color: #181E25;
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 12px;
}
.course_cont_b_2{
    display: flex;
    margin-top: 22px;
    margin-left: 17%;
    width: 1200px;
    max-width: 70%;
}
.course_cont_b_2 img{
    margin-top: 20px;
    width:56px;
    height: 56px;
    
}
.course_cont_b_1_frame_1,
.course_cont_b_1_frame_2{
    width: 280px;
    display: flex;
 
}
.course_cont_b_1_frame_2{
    padding-left: 76px;
}
.course_cont_b_1_frame_3{
    padding-left: 76px;
    width: 280px;
    display: flex;
}
.course_cont_b_1_frame_4{
    width: 280px;
    display: flex;
}
.course_cont_b_1_frame_5{
    padding-left: 76px;
    width: 280px;
    display: flex;
}
.course_cont_b_1_frame_6{
    padding-left: 76px;
    width: 280px;
    display: flex;
}
.course_cont_2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
    grid-gap: 70px;
    align-items: stretch;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
}
.course_cont_2> .course_cont_2_card{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.course_cont_2{
    margin-top: 50rem;
}
.course_cont_2_card_1{
    max-width: 100%;
}
.course_cont_2_card_1_heading{
    font-style: normal;
    font-weight: 551;
    font-size: 20px;
    line-height: 145%;
    padding-left: 10px;
    padding-top: 30px;
    color: #181E25;
    flex: none;
    order: 1;
    align-self: stretch;
}
.course_cont_2_card_1_para_1{
    font-weight: 450;
    font-size: 18px;
    line-height: 145%;
    padding-left: 10px;
    padding-top: 10px;
    color: #5F7086;
}
