.scroll--btn {
  border: none;
}

.btn--image {
  display: block;
  width: 7vw;
  height: 4vw;
  position: fixed;
  bottom: 20px;
  right: 0px;
}

@media only screen and (max-width: 480px) {
  .btn--image {
    position: fixed;
    bottom: 30px;
    right: 0px;
    width: 20%;
    height: 5%;
  }
}
