.section {
  text-align: center;
  background-image: rgb(var(--base-100), 0.9);
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout p {
  margin-top: 1rem;
}
