.section {
  color: var(--clr-content);
}

.layout {
  padding-bottom: 6rem;
  margin-inline: auto;
}

.headingLine {
  margin-block: 1.5rem;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.statsContainer .card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid rebeccapurple;
  padding: 1rem /* 16px */;
  padding-block: 2rem;
  background-color: rgb(var(--base-100), 0.5);
  background-image: linear-gradient(
    to right,
    rgb(var(--content), 0),
    rgb(var(--content), 0.1)
  );
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--content), 0.2);
  text-align: center;
}

.statsContainer .icon {
  font-size: 3rem;
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsContainer .number {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.number {
  display: flex;
}

.statsContainer .title {
  border-radius: 1rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 1050px) {
  .statsContainer {
    gap: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .statsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
  }

  .statsContainer .card {
    margin-top: 3rem;
  }

  .statsContainer .number {
    font-size: 2rem;
  }

  .statsContainer .title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .statsContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }

  .statsContainer .card {
    gap: 1rem;
  }
}
