.courses-container-main{
  padding-top: 90px;
  padding-bottom:90px;
}
.courses-container {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.courses-container h1{
    Color: white;
    text-align: center;
    font-size:40px;
    font-size: 50px;
    letter-spacing: 8px;
}
.courses-container .info-container .courses-border{
    background-color: var(--clr-blue);
        height:3px;
        border:none;
        width: 85px;
        margin-left: auto;
        margin-right: auto;
        margin-top:1rem;
}
.courses-container .banner {
    width: 50%;
    height: 100%;
    object-fit: cover;
    
}
.courses-link{
    text-align:center;
}

.courses-link button{
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 3rem;
    background-color: var(--clr-blue);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    padding: 12px 24px;
    border-radius: 30px;
  margin-left:auto;
  margin-right: auto;
  border:none;
}
.courses-container .info-container {
    width: 50%;
    margin-right: 3rem;
}
.info-container h3{
    color: #ffffff;
    text-align:center;
    font-size: 3rem;
}
.courses-container h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.courses-container ul {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 145%;
    color: var(--clr-white);
    padding: 0 1.25rem 1.25rem 1.25rem;
}
.courses-container li img{
    width:30px;
    height: 30px;
}
.courses-container li {
    display: flex;
  padding: 1.25rem;
  text-align: start;
}

.courses-container li:first-child,
.courses-container li:last-child{
    margin: 0;
}

.courses-container ul .highlight {
    color: var(--clr-dark);
}


.courses-free{
    margin-top: 2rem;
    max-width:800px;
    margin-left:14%;
    margin-right:14%;

}
.courses-free p{
    color: #ffffff;
   
}
.link-primary img{
    height: 12px;
    width: 16px;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1000px) {

    .courses-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .courses-container .banner {
        width: 100%;
        height: 30vh;
        order:1;
    }

    .courses-container .info-container {
        width: 100%;
        margin: 2rem 0;
        order: 2;
    }   
}

@media screen and (max-width: 650px) {

    .courses-container h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .courses-container ul {
        font-size: 15px;
        padding: 0 0 1.25rem 1.25rem;
    }

    .link-primary {
        font-size: 15px;
    }
 
}