.podcast-container {
    max-width: 1200px;
    margin: 7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background: var(--clr-gray);
}

.podcast-container .category {
    font-size: 18px;
}

.podcast-container .banner-container {
    width: 50%;
}

.podcast-container .banner {
    height: 100%;
    object-fit: cover;
    display: block;
}

.podcast-container .info-container {
    width: 50%;
    margin-right: 3rem;
}

.podcast-container h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    margin: 24px 0;
}

.podcast-container .info {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
}

.podcast-container .link-secondary {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: var(--clr-dark);
    margin-top: 24px;
    display: block;
}

.podcast-container .link-primary {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: var(--clr-dark);
    margin-top: 24px;
    display: block;
    background-color: var(--clr-yellow);
    padding: 20px 0px;
    border-radius: 48px;
}

.podcast-container .link-primary img {
    margin-left: 1rem;
}

.podcast-container li:first-child {
    margin: 1.5rem 0;
}

.podcast-container ul .highlight {
    color: var(--clr-dark);
}

@media screen and (max-width: 1000px) {

    .podcast-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .podcast-container .banner-container {
        order: 1;
        width: 70%;
    }

    .banner-container img {
        margin: auto;
    }

    .podcast-container .info-container {
        width: 100%;
        margin: 2rem 0;
        order: 2;
    }

    .podcast-container .link-primary {
        padding: 14px 0px;
        font-size: 18px;
    }

    .podcast-container {
        padding: 2rem;
    }
}

@media screen and (max-width: 650px) {

    .podcast-container h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .podcast-container ul {
        font-size: 15px;
        padding: 0 0 1.25rem 1.25rem;
    }

    .podcast-container .banner-container {
        width: 100%;
    }

    .podcast-container .link-primary {
        padding: 14px 0px;
        font-size: 16px;
    }

    .podcast-container h2 {
        font-size: 24px;
    }

    .podcast-container .info {
        font-size: 15px;
    }

    .podcast-container .category,
    .podcast-container .link-secondary {
        font-size: 16px;
    }

}