.section {
  color: var(--clr-content);
}

.layout {
  padding-block: 6rem;
  margin-inline: auto;
}

.headingLine {
  margin-block: 1.5rem;
}

.faqContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 1050px) {
  .faqContainer {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
