.link-normal {
  outline: 1px solid var(--clr-gray-light);
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  padding: 12px 24px;
  border-radius: 4px;
  margin-left: 10px;
}

.link-normal img {
  height: 12px;
  width: 16px;
  margin-left: 0.5rem;
}

@media screen and (max-width: 650px) {
  .link-normal {
    font-size: 15px;
  }
}
