.blog-container {
    max-width: 1200px;
    margin: 7rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.blog-container h2{
    color: white; 
}
.blog-container .banner {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.blog-container .info-container {
    width: 50%;
    margin-right: 3rem;
}

.blog-container h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.blog-container ul {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 145%;
    color: var(--clr-white);
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.blog-container li {
    margin: 1.5rem 0;
}

.blog-container li:first-child,
.blog-container li:last-child{
    margin: 0;
}

.blog-container ul .highlight {
    color: var(--clr-white);
}

@media screen and (max-width: 1000px) {

    .blog-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .blog-container .banner {
        width: 100%;
        height: 30vh;
        order:1;
    }

    .blog-container .info-container {
        width: 100%;
        margin: 2rem 0;
        order: 2;
    }   
}

@media screen and (max-width: 650px) {

    .blog-container h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .blog-container ul {
        font-size: 15px;
        padding: 0 0 1.25rem 1.25rem;
    }

}