.section {
  text-align: center;
  background-image: linear-gradient(
      45deg,
      rgb(var(--base-100), 0.9),
      rgb(var(--primary), 0.9)
    ),
    url('assets/hashnode/Hashnode.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 13rem 10rem;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hashnode {
  font-weight: bold;
  margin-top: 3rem;
}

.hr {
  background-color: rgb(255, 160, 19);
  height: 0.4rem;
  width: 15rem;
  margin-block: 1rem;
  margin-bottom: 3rem;
}
