.layout {
  padding-block: 6rem;
  margin-inline: auto;
}

.headingLine {
  margin-block: 1.5rem;
}

.cardWrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  background-color: rgb(var(--content), 0.1);
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--content), 0.2);
}
.card .data {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img {
  display: inline-block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 14rem;
}

@media (min-width: 1024px) {
  .card {
    margin-bottom: 0px;
    flex: 1;
  }
}
@media (min-width: 861px) {
  .card {
    width: 0.5;
  }
  .card .data {
    padding: 1.4rem;
  }
  .card .data p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }

  .card .data a {
    margin-top: 0.5rem;
  }
  .img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 20rem;
  }
}
