.about{ 
    display: flex;
    margin-top: 150px;
  }
  
  .about_img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 584.5px;
    height: 425px;
  }
  
  .about_text{
    margin-left:auto;
    margin-right:auto;
    width: 584px;
    height: 243px;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
  }
  
  .about_ul{
    list-style: disc;
  }
  
  h2{
    color: #181E25;
    font-size: 36px;
    padding-bottom:5%;
  }
  
  #bt_discord{
    margin-top: 8%;
    padding: 12px 24px;
    gap: 10px;
    width: 233px;
    height: 53px;
    background: #4094EC;
    border-radius: 4px;
    font-size: 20px;
    line-height: 145%;
    border: none;
    color:  #FFFFFF;
    cursor: pointer;
  }

  @media only screen and (max-width: 1300px) {

    .about{
      flex-direction:column;
    }

    .about_img{ 
      width: 750px;
     height: 600px;
    }

    .about_text{ 
      margin-top:50px;
      width: 750px;
      height: 400px; 
    }

  }

  @media only screen and (max-width: 1000px) {
    .about_img{ 
      width: 450px;
      height: 300px;
    }

    .about_text{ 
      margin-top:50px;
      width: 450px;
      height: 100px; 
      letter-spacing:2px;
      word-spacing: 12px;
    }
  }

  @media only screen and (max-width: 400px) {
    .about{ 
      margin-top: 100px;
    }

    .about_text{ 
      width: 90%;
      letter-spacing:2px;
      word-spacing: 12px;
    }

    .about_img{ 
      width: 320px;
      height: 250px;
      margin-left: 15px;
    }
  }