.blog {
  display: flex;
  margin-top: 150px;
}

.blog_img {
  margin-left: auto;
  margin-right: auto;
  width: 584.5px;
  height: 425px;
}

.blog_text {
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  height: 243px;
  font-size: 20px;
  line-height: 145%;
  color: #5f7086;
}

.blog_ul {
  list-style: disc;
}

h2 {
  color: #181e25;
  font-size: 36px;
  padding-bottom: 5%;
}

#bt_blog {
  margin-top: 8%;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 275px;
  height: 53px;
  background: #4094ec;
  border-radius: 4px;
  font-size: 20px;
  line-height: 145%;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

@media only screen and (max-width: 1300px) {
  .blog {
    flex-direction: column-reverse;
    margin-top: 100px;
  }

  .blog_img {
    width: 750px;
    height: 600px;
  }

  .blog_text {
    width: 750px;
    height: 400px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .blog {
    margin-top: 100px;
  }

  .blog_img {
    width: 450px;
    height: 300px;
  }

  .blog_text {
    width: 450px;
    height: 100px;
    letter-spacing: 2px;
    word-spacing: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .blog_text {
    width: 90%;
  }

  .blog_img {
    width: 320px;
    height: 250px;
    margin-left: 15px;
  }
}
