.blog{ 
    display: flex;
    margin-top: 150px;
  }
  
  .blog_img{ 
    margin-left:auto;
    margin-right:auto;
    width: 584.5px;
    height: 425px;
  
  }
  
  .blog_text{
    margin-left:auto;
    margin-right:auto;
    width: 584px;
    height: 243px;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
  }
  
  .blog_ul{
    list-style: disc;
  }

  h2{
    color: #181E25;
    font-size: 36px;
    padding-bottom:5%;
  }
  
  #bt_blog{
    margin-top: 8%;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 275px;
    height: 53px;
    background: #4094EC;
    border-radius: 4px;
    font-size: 20px;
    line-height: 145%;
    border: none;
    color:  #FFFFFF;
  }


  @media only screen and (max-width: 1300px) {

    .blog {
      flex-direction:column;
  }

  .blog_img{ 
    width: 750px;
    height: 600px;
    margin-top:-1050px;
  }

  .blog_text{ 
    margin-top:650px;
    width: 750px;
    height: 400px; 
  }
}

@media only screen and (max-width: 1000px) {

  .blog_img{ 
    width: 450px;
    height: 300px;
    margin-top:-450px;
  }

  .blog_text{ 
    margin-top:300px;
    width: 450px;
    height: 100px; 
    letter-spacing:2px;
    word-spacing: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .blog_text{ 
    width: 90%;
  }
}