.courses {
  display: flex;
  margin-top: 150px;
}

.courses_img {
  margin-left: auto;
  margin-right: auto;
  width: 584.5px;
  height: 425px;
}

.courses_text {
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  height: 243px;
  font-size: 20px;
  line-height: 145%;
  color: #5f7086;
}

.courses_title {
  line-height: 100%;
}

.courses_ul {
  list-style: disc;
}

h2 {
  color: #181e25;
  font-size: 36px;
  padding-bottom: 5%;
}

#bt_discord {
  margin-top: 8%;
  padding: 12px 24px;
  gap: 10px;
  width: 233px;
  height: 53px;
  background: #4094ec;
  border-radius: 4px;
  font-size: 20px;
  line-height: 145%;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .courses {
    flex-direction: column-reverse;
  }

  .courses_img {
    width: 750px;
    height: 600px;
  }

  .courses_text {
    margin-top: 50px;
    width: 750px;
    height: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .courses {
    margin-top: 450px;
  }

  .courses_img {
    width: 450px;
    height: 300px;
  }

  .courses_text {
    width: 450px;
    height: 100px;
    letter-spacing: 2px;
    word-spacing: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .courses {
    margin-top: 600px;
  }

  .courses_text {
    width: 90%;
  }

  .courses_img {
    width: 320px;
    height: 250px;
    margin-left: 15px;
  }
}
