  .container{
      max-width: 1140px;
      margin:auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
    list-style: none;
    color: #5F7086;
  }
  .footer{
      padding: 70px 0;
  }
  .footer-col1{
    margin-right: 210px;
    font-size: 18px;
  }
  .footer-col{
     width: 15%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #4094EC;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 20px;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: 300;
      color: #5F7086;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #000000;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col1{
      width: 50%;
      margin-bottom: 30px;
  }
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  
  