:root{
    --lightSky: rgba(64,148,236,1);
    --lightGreen: rgb(101, 211, 181);
    --lighterGreen: rgba(6,214,160,1);

}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.founder{
    display:flex;
    margin-top: 150px;
    margin-left: 5%;
}
.founder_img{
    position: absolute;
    width: 400px;
    height: 446px;
}
.founder_span
{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--lightSky), var(--lightGreen), var(--lighterGreen), var(--lightSky));
    background-size: 200%;
    height: 1.5em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.founder_assets_green{
    width: 250px;
    height: 250px;
    margin-top: 195px;
}
.founder_assets_blue{
    width: 250px;
    height: 325px;
    margin-top: 120px;
}
.founder_text{
    margin-left: auto;
    margin-right: auto;
}
.founder_para{
    width: 500px;
    font-size: 1.2rem;
    margin-top: 25px;
}
.founder_heading{
    padding-bottom: 30px;
}
.founder_socials{
    display: flex;
    margin-top: 40px;
}
.founder-item{
    margin-left: 10px;
}


@media screen and (max-width: 1120px){

    .founder{
        flex-direction: column;
        margin-top:200px;
        margin-left: 0;
    }

    .founder_text{
        margin-top: 100px;
    }

    .founder_flex{
        margin: auto;
    }

    .founder_img{
        margin-left: 32%;
    }

}
@media screen and (max-width: 1000px){
    .founder{
        margin-top:450px;
    }

    .founder_img{
        margin-left: 30%;
    }
}

@media screen and (max-width: 900px){
    .founder_img{
        margin-left: 25%;
    }
}

@media screen and (max-width: 750px){
    .founder_img{
        margin-left: 20%;
    }
}

@media screen and (max-width: 600px){
    .founder_img{
        margin-left: 10%;
    }

    .founder_assets_green{
        width: 200px;
    }
}

@media screen and (max-width: 550px){
    .founder_img{
        margin-left: 5%;
    }
}

@media screen and (max-width: 400px){

    .founder{
        margin-top:500px;
    }

    .founder_img{
        width: 300px;
        height: 346px;
        margin-top:40px;
        margin-left: 8%;
    }

    .founder_assets_blue{
        width: 150px;
        height: 250px;
    } 

    .founder_assets_green{
        height: 190px;
    }

    .founder_text{ 
        width: 90%;
      }

      .founder_para{
        width:90%;
      }
    
}
