.founder{
    display:flex;
    margin-top: 150px;
    margin-left: 12%;
}
.founder_img{
    position: absolute;
    margin-top: 23px;
}
.founder_span
{
    background: #ee0979;  /* fallback for old browsers */
    height: 1.5em;
    background-image: linear-gradient(90deg, rgba(64,148,236,1) 0%, rgba(6,214,160,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.founder_assets_green{
    width: 250px;
    height: 250px;
    margin-top: 190px;
}
.founder_assets_blue{
    width: 250px;
    height: 320px;
    margin-top: 120px;
}
.founder_para{
    margin-top: 2%;
    width: 584px;
    margin-left: 10%;
}
.founder_heading{
    margin-top: 35%;
    width: 584px;
    margin-left: 10%;
}
.founder_socials{
    list-style-type: none;
    display: flex;
    margin-left: 10%;
    margin-top: 10px;
}
.founder-item{
    margin-left: 3px;
}