:root{
    --lightSky: rgba(64,148,236,1);
    --lightGreen: rgb(101, 211, 181);
    --lighterGreen: rgba(6,214,160,1);

}
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.header_button{
    background-color: #4094EC;
    height: 40px;
    width: 356px;
    border-radius: 31px;
    padding: 8px 16px 8px 16px;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
/* rgba(64,148,236,1) 0%, rgba(6,214,160,1) 100% */
.header_cont_1_a{
    text-align: center;
}
.header_cont_1{
    padding-top: 10rem;
}
.header_free_community{
    font-size: 76px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.header_free{
   
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--lightSky), var(--lightGreen), var(--lighterGreen), var(--lightSky));
    background-size: 200%;
    height: 1.5em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.header_para_span{
    color: #181E25;
    font-weight: 600;
}
.header_para_about{
    font-size: 20px;
    line-height: 29px;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: #5F7086;
}
.header_cont_2_b_courses{
    height: 53px;
    width: 197px;
    border-radius: 4px;
    padding: 14px 24px 12px 24px;
    background: #4094EC;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.arrowright{
    height: 12px;
    width: 16px;
    margin-left: 12px;
    top: 6px;
    border-radius: 0px;
}
.header_cont_2_b_youtube{
    height: 53px;
    width: 197px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 14px 24px 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #DEE4ED;
    background-color: white;
    margin-left: 1%;
}
.arrowup{
    height: 12px;
    width: 12px;
    margin-left: 12px;
    top: 6px;
    border-radius: 0px;
}
.header_cont_2_b{
    margin-top: 10px;
    text-align: center;
    padding-top: 30px;
}

 @media only screen and (max-width: 400px) {
    .header_free_community{
        font-size: 30px;
        width:auto;
        line-height: normal;
    }

    .header_para_about{
        font-size:15px;
        width:auto;
    }

    .header_cont_1{
        padding-top: 5rem;
    }
}
