.header_button{
    background-color: #4094EC;
    height: 40px;
    width: 356px;
    left: 270px;
    top: 0px;
    border-radius: 31px;
    padding: 8px 16px 8px 16px;
    border: none;
    color: white;
}
.header_cont_1_a{
    text-align: center;
}
.header_cont_1{
    padding-top: 10rem;
}
.header_free_community{
    font-family: 'General Sans', sans-serif;
    width: 90%;
    font-size: 76px;
    font-weight: 800;
    line-height: 96px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-left: 5%;
    left: 12px;
    margin-top: 1rem;
}
.header_free{
    background: #ee0979;  /* fallback for old browsers */
    height: 1.5em;
    background-image: linear-gradient(90deg, rgba(64,148,236,1) 0%, rgba(6,214,160,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_para_span{
    color: #181E25;
    font-weight: 600;
}
.header_para_about{
    font-family: 'General Sans', sans-serif;
    font-size: 20px;
    font-weight: 450;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    height: 58px;
    width: 57%;
    margin-left: 20%;
    left: 12px;
    margin-top: 1rem;
    color: #5F7086;
}
.header_cont_2_b_courses{
    height: 53px;
    width: 197px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 14px 24px 12px 24px;
    background: #4094EC;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.arrowright{
    height: 12px;
    width: 16px;
    margin-left: 12px;
    top: 6px;
    border-radius: 0px;
}
.header_cont_2_b_youtube{
    height: 53px;
    width: 197px;
    margin-left: 1%;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    border: 3px solid #DEE4ED;
    background: #fff;
    Gap: 10px;
    font-family: 'General Sans', sans-serif;;
    font-size: 1rem;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}
.arrowup{
    height: 12px;
    width: 12px;
    margin-left: 12px;
    top: 6px;
    border-radius: 0px;
}
.header_cont_2_b{
    margin-top: 40px;
    text-align: center;
    padding-top: 30px;
}
@media screen and (max-width: 500px){
    .header_cont_1{
        text-align: center;
    }
}
@media screen and (max-width: 780px) {
    .header_cont_2_b{
        margin-top: 80px;
    }
}
@media screen and (max-width: 500px) {
    .header_cont_2_b{
        margin-top: 120px;
    }
    .header_free_community{
            font-family: 'General Sans', sans-serif;
            width: 90%;
            font-size: 50px;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: 0.01em;
            text-align: center;
            margin-left: 5%;
            left: 12px;
            margin-top: 1rem;
        }
    }
    @media screen and (max-width: 440px) {
        .header_cont_2_b{
            margin-top: 180px;
        }
        .header_button{
            background-color: #4094EC;
            height: 40px;
            width: 306px;
            left: 270px;
            top: 0px;
            border-radius: 31px;
            padding: 8px 16px 8px 16px;
            border: none;
            color: white;
        }
   }


