.mentor{ 
  display: flex;
  margin-top: 150px;
}

.mentor_img{ 
  margin-left:auto;
  margin-right:auto;
  width: 584.5px;
  height: 425px;

}

.mentor_text{
  margin-left:auto;
  margin-right:auto;
  width: 584px;
  height: 243px;
  font-size: 20px;
  line-height: 145%;
  color: #5F7086;
}

.mentor_ul{
  list-style: disc;
}

h2{
  color: #181E25;
  font-size: 36px;
  padding-bottom:5%;
}

#bt_mentor{
  margin-top: 8%;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 285px;
  height: 53px;
  background: #4094EC;
  border-radius: 4px;
  font-size: 20px;
  line-height: 145%;
  border: none;
  cursor: pointer;
  color:  #FFFFFF;
}

@media only screen and (max-width: 1300px) {

  .mentor {
    flex-direction:column-reverse;
}

.mentor_img{ 
  width: 750px;
  height: 600px;
}

.mentor_text{ 
  margin-top:50px;
  width: 750px;
  height: 400px; 
}
}

@media only screen and (max-width: 1000px) {

.mentor{
  margin-top:550px;
}

.mentor_img{ 
  width: 450px;
  height: 300px;
}

.mentor_text{ 
  width: 450px;
  height: 100px; 
  letter-spacing:2px;
  word-spacing: 12px;
}
}

@media only screen and (max-width: 400px) {

.mentor{
  margin-top:700px;
}

.mentor_text{ 
  width: 90%;
}

.mentor_img{ 
  width: 400px;
  height: 250px;
}

.mentor_text{ 
  margin-top:50px;
}
}