.podcast{ 
    display: flex;
    margin-top: 150px;
    background: #F3F5F7;
    margin-left: 5%;
    margin-right: 5%;
    height: 509.97px;
}

  .podcast_img{ 
   margin: auto;
   width: 508.57px;
   height: 285.97px;
}
.podcast_text{
    width: 584px;
    height: 243px;
    font-size: 20px;
    line-height: 145%;
    margin: auto;
}
.podcast_heading_2{
    color: #181E25;
}

.podcast_para{
    color: #5F7086;
    margin-top: 10px;
}
.podcast_para_2{
    color: #181E25;
    font-weight: 600;
    margin-top:10px;
}
.podcast_redirect{
    background: #06D6A0;
    border-radius: 48px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 285px;
    height: 53px;
    color:  #FFFFFF;
    margin-top: 20px;
}


@media screen and (max-width: 1300px) {
    .podcast{ 
      flex-direction: column-reverse;
      margin-top: 150px;
      height: 800px;
      margin-left: 0;
      width:100%;
    }
    .podcast_img{ 
        width: 750px;
        height: 600px;
        margin-top:50px;
    }
    .podcast_text{ 
        margin-top: 50px;
        width: 750px;
        height: 400px; 
      }

}
@media screen and (max-width: 1000px) {

    .podcast{ 
        margin-top: 500px;
      }

    .podcast_img{ 
        width: 450px;
        height: 300px;
    }
    .podcast_text{ 
        width: 450px;
        height: 100px; 
        letter-spacing:2px;
        word-spacing: 12px;
        margin-bottom: 380px;
      }
}

@media screen and (max-width: 400px) {

    .podcast{ 
        margin-top: 550px;
        height: 900px;
        margin-left: 0;
        width:100%;
      }

    .podcast_img{ 
        width: 320px;
        height: 250px;
    }
    .podcast_text{ 
        width: 350px;
        height: 100px; 
        letter-spacing:2px;
        word-spacing: 12px;
        margin-bottom: 500px;
      }
}
