.podcast{ 
    display: flex;
    margin-top: 10%;
    width: 1509px;
    height: 480px;
    background-color: #F3F5F7;
  }

  .podcast_img{ 
    margin-left: 10%;
    height: 280px;
    width: 80%;
    margin-top: 6rem;
}
.podcast_text{
    margin-left: 15%;
}
.podcast_heading_2{
   margin-top: 18%;
   margin-left: 4%;
}


.podcast_para{
    width: 580px;
    margin-top: -3%;
    margin-left: 4%;
    font-size: 18px;
    line-height: 180%;
    color: #5F7086;
    font-weight: 500;
}
.podcast_para_2{
    margin-top: 1%;
    margin-left: 4%;
    font-size: medium;
    font-weight: bold;
}
.podcast_right{
    padding-left: 1%;
}
.podcast_redirect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 12px;
    width: 300px;
    height: 40px;
    background: #4094EC;
    border-radius: 4px;
    border: none;
    margin-left: 14%;
    margin-top: 1%;
    cursor: pointer;
    margin:auto;
    font-size: medium;
    font-weight:600;
    color: white;
}
@media screen and (max-width: 1285px) {
    .podcast_img{ 
        margin-left: 10%;
        height: 280px;
        width: 340px;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 1200px) {
    .podcast_img{ 
        margin-left: 10%;
        height: 280px;
        width: 280px;
        margin-top: 3rem;
    }
}

 