/* Wrapper Class */
.layout {
  max-width: 80rem; /* 1280px */
  margin-inline: auto;
  width: 91.666667%;
}

/* Things that are only for screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Icon that apears for the link which are going to open in new tab */
.newtab {
  width: 20px;
  aspect-ratio: 1/1;
  margin-left: 3px;
}

/* Class to highlight the text */
.highlight {
  font-weight: 600;
  color: var(--clr-primary);
}
/* Darker highlight can be used on light background */
.highlight.highlight--dark {
  color: var(--clr-primary-hover);
}
/* Light highlight can be used on Dark background */
.highlight.highlight--light {
  color: var(--clr-primary-disable);
}
.highlight.highlight--white {
  color: var(--clr-white);
}
.highlight.highlight--yellow {
  color: rgb(241, 196, 15);
}

/* Make text white */
.text-primary {
  color: var(--clr-primary);
}

/* Spin keyframes to rotate  */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

/* For the hr in every section */
.styled-hr {
  background-color: var(--clr-primary);
  height: 0.6rem;
  border-radius: 100px;
  border: none;
  width: 8rem;
}
.styled-hr.styled-hr--light {
  height: 4px;
  background: rgb(var(--content), 0.3);
}
.styled-hr.styled-hr--dark {
  height: 4px;
  background: rgb(var(--base-100), 0.5);
}

/* Background gradient */
.gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--clr-base-100),
    hsla(240, 89%, 51%, 0.424)
  );
}

.static-bg {
  background: var(--clr-base-100);
}

.animate-rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.main section:nth-child(odd) {
  background: var(--clr-base-100);
}
.main section:nth-child(even) {
  background-image: linear-gradient(
    to bottom right,
    var(--clr-base-100),
    hsla(240, 89%, 51%, 0.424)
  );
}
.main section:first-child {
  background: transparent;
}
