*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
}

img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
}

input,
button,
textarea,
select,
a {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Remove all animations, for users who have turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}