.header-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.layout {
  max-width: 900px;
}

.tagLine {
  font-size: 0.9rem;
  color: var(--clr-content);
  margin-block: 1.5rem;
}
/* Tablet */
@media (min-width: 768px) {
  .tagLine {
    font-size: 1.2rem;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}
