.footer ul {
    list-style: none;
    color: #5F7086;
    font-size: 18px;
    padding: 0;
}

.footer {
    padding: 100px 1rem;
    display: flex;
}

.footer .logo {
    width: 160px;
}

.footer-p {
    color: #5F7086;
    margin-top: 240px;
}

.footer-col1 {
    font-size: 18px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
}

.footer-col2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.footer-col2-1 {
    width: 100px;
    margin-left: 10%;
}

.footer-col2-2 {
    margin-left: 30%;
}

.footer-col2-1 h4,
.footer-col2-2 h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col2-1 h4::before,
.footer-col2-2 h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--clr-blue);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col2-1 ul li:not(:last-child),
.footer-col2-2 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col2-1 ul li a,
.footer-col2-2 ul li a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #5F7086;
    display: block;
    transition: all 0.3s ease;
}

.footer-col2-1 ul li a:hover,
.footer-col2-2 ul li a:hover {
    color: #000000;
    padding-left: 8px;
}

.footer-col2-1 .social-links a,
.footer-col2-2 .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col2-1 .social-links a:hover,
.footer-col2-2 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media only screen and (max-width: 950px) {

    .footer {
        flex-direction: column;
    }

    .footer-p {
        margin-top: 50px;
    }

    .footer-col2 {
        margin-top: 50px;
    }

    .footer-col2-1 {
        margin-left: 0;
    }

}


@media only screen and (max-width: 950px) {
    .footer-p {
        margin-top: 2rem;
        font-size: 14px;
        width: 90%;
    }

    .footer-col1 {
        width: 330px;
        margin-left: 15px;
        margin-left: auto;
    }

    .footer-col2-1 ul li a,
    .footer-col2-2 ul li a,
    .footer-col2-1 h4, 
    .footer-col2-2 h4 {
        font-size: 16px;
    }

    .footer-col2,
    .footer-col1 {
        width: 100%;
    }
}