.events-container-main {
  background-color: #15133c;
  margin-top: 10px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}
.events-container {
  max-width: 1200px;
  padding-top: 1rem;
  display: flex;
  padding-bottom: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.events-container h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-size: 50px;
  letter-spacing: 8px;
}
.events-container .info-container .events-border {
  background-color: var(--clr-blue);
  height: 3px;
  border: none;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.events-free {
  margin-top: 2rem;
  max-width: 800px;
  margin-left: 14%;
  margin-right: 14%;
}
.events-free p {
  color: #ffffff;
}
.events-container .banner {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.events-container .info-container {
  width: 50%;
}
.events-link {
  background-color: var(--clr-blue);
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  padding: 12px 24px;
  border-radius: 30px;
}

.events-link img {
  height: 12px;
  width: 16px;
  margin-left: 0.5rem;
}
.events-button {
  display: flex;
  gap: 22px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 650px) {
  .events-link {
    font-size: 15px;
    text-align: center;
  }
}

.events-container h2 {
  font-size: 36px;
  font-weight: 600;
}

.events-container ul {
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 145%;
  color: #5f7086;
  padding: 0rem 2rem 1.25rem 1.25rem;
  list-style-type: none;
}

.events-container li {
  display: flex;
  padding: 1.25rem;
  text-align: start;
}
.events-container li img {
  width: 30px;
  height: 30px;
}
.events-container li:first-child,
.events-container li:last-child {
  margin: 0;
}

.events-container ul .highlight {
  color: var(--clr-white);
}

@media screen and (max-width: 1000px) {
  .events-container {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .events-container .banner {
    width: 100%;
    height: 30vh;
  }

  .events-container .info-container {
    width: 100%;
    margin: 2rem 0;
  }
  .events-button {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

@media screen and (max-width: 650px) {
  .events-container h2 {
    font-size: 24px;
  }

  .events-container ul {
    font-size: 15px;
    padding: 0 0 1.25rem 1.25rem;
  }
}
