.events_cont_para {
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 96px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #181e25;
  margin-top: 100px;
}

.events_cont_para1 {
  margin-top: 50px;
  text-align: center;
  color: #5f7086;
  text-align: center;
}

.events_cont_2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
  grid-gap: 70px;
  align-items: stretch;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 10px;
}
.events_cont_2 > .events_cont_2_card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.events_cont_2 {
  margin-top: 100px;
}
.events_cont_2_card_1 {
  object-fit: fill;
  max-width: 100%;
}

.events_cont_2_card_1_date {
  color: #5f7086;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.events_cont_2_card_1_head {
  color: #58cd52;
  padding-left: 10px;
  padding-top: 5px;
}

.events_cont_2_card_1_head1 {
  color: #e4405f;
  padding-left: 10px;
  padding-top: 5px;
}

.events_cont_2_card_1_heading {
  font-style: normal;
  font-weight: 551;
  font-size: 20px;
  line-height: 145%;
  padding-left: 10px;
  padding-top: 15px;
  color: #181e25;
  flex: none;
  order: 1;
  align-self: stretch;
}
.events_cont_2_card_1_para_1 {
  font-weight: 450;
  font-size: 18px;
  line-height: 145%;
  padding-left: 10px;
  padding-top: 10px;
  color: #5f7086;
}
@media screen and (max-width: 949px) {
  .events_cont_2_card_1 {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .events_cont_para1 {
    font-size: 20px;
  }
}
