.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .hr {
  height: 0.4rem;
  width: 15rem;
  margin-block: 1rem;
  margin-bottom: 3rem;
} */

.tagLine {
  font-size: 1.5rem;
  color: var(--clr-content);
  margin-block: 1.5rem;
  line-height: 2rem;
}
