.check-container {
  width: 100%;
  z-index: 2;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  background: var(--clr-dark);
  color: var(--clr-white);
  align-items: center;
  gap: 1rem;
}

.check-container p {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.check-container span {
  margin: 0 0.5rem;
  font-weight: 600;
}
.events-button {
  display: flex;
  border-radius: 20px;
  padding: 0.2rem 0.6rem;
  background: var(--clr-pink);
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .check-container {
    font-size: 0.6rem;
  }
}
