.container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: column;
  padding-block: 5rem;
}

@media (min-width: 768px) {
  .container {
    padding-block: 10rem;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .section.right .container {
    flex-direction: row-reverse;
  }
}

.container .img {
  flex-grow: 1;
  object-fit: cover;
}

.container .infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .container .infoContainer {
    width: 60%;
  }
}
.container ul {
  color: rgb(var(--content), 0.8);
  font-size: 1.3rem;
  margin-top: 1.1rem;
}

.container li {
  margin-top: 1.8rem;
}
.container li:first-child {
  margin-top: 0;
}
.container .btns {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: inline-flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.container .btn {
  border-radius: 10rem;
  padding: 1rem 2rem;
}
