.errorPageSection {
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: white;
  text-transform: capitalize;
}
.errorPageSection .container {
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}
.errorPageSection .container .highHeading {
  font-size: 4rem;
}

.btn {
  outline: none;
  font-weight: 500;
  font-size: large;
  color: white;
  background: transparent;
  border: transparent;
  margin-top: 1rem;
  cursor: pointer;
}
.btn:hover {
  border-bottom: 2px solid;
}
