.about-container {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.about-container-main{
    background-image: linear-gradient(
        to bottom right,
        #141414,
        hsla(240, 89%, 51%, 0.424)
      );
    padding-top:10px;
    padding-bottom:10px;
}
.about-container h1{
    color: white;
    text-align: center;
    font-size:40px;
    font-size: 50px;
    letter-spacing: 8px;
}
.about-container .banner {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.about-border{
background-color: var(--clr-blue);
height:3px;
border:none;
width: 85px;
margin-left: auto;
margin-right: auto;
margin-top:1rem;
}
.about-container .info-container {
    width: 50%;
    margin-left: 3rem;
}

.about-container h2 {
    font-size: 36px;
    font-weight: 600;
}

.about-container ul {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
    padding: 0rem 2rem 1.25rem 1.25rem;
   list-style-type: none;
   
}

.about-container li {
   display: flex;
  padding: 1.25rem;
    text-align: start;
}
.about-container li img{
    width:30px;
    height: 30px;
}
.courses-link button{
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 3rem;
    background-color: var(--clr-blue);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    padding: 12px 24px;
    border-radius: 30px;
  margin-left:auto;
  margin-right: auto;
  border:none;
}
.courses-link{
    text-align: center;
}
.about-container li:first-child,
.about-container li:last-child{
    margin: 0;
}

.about-container ul .highlight {
    color: var(--clr-white);
}

.link-primary {
    background-color: var(--clr-blue);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    padding: 12px 24px;
    border-radius: 4px;
}

.link-primary img{
    height: 12px;
    width: 16px;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1000px) {

    .about-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .about-container .banner {
        width: 100%;
        height: 30vh;
    }

    .about-container .info-container {
        width: 100%;
        margin: 2rem 0;
    }   
}

@media screen and (max-width: 650px) {

    .about-container h2 {
        font-size: 24px;
    }

    .about-container ul {
        font-size: 15px;
        padding: 0 0 1.25rem 1.25rem;
    }

    .link-primary {
        font-size: 15px;
    }
 
}

/* About cards */

.main-about{
    display:flex;
    flex-wrap: nowrap;
    gap:50px;
    margin-left:auto;
    margin-right:auto;
    padding:60px 80px 60px 80px;
    max-width: 1200px;
}
.main-about h1{
    color:  black;
    text-align:center;
    font-size: 2em;
}
.main-about p{
    color: black;
    margin-top: 2rem;
    font-size: 1.2em;
    font-size: 400;
   
}
.about-card-1, .about-card-2, .about-card-3{
    background-color: var(--clr-white);
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
    border: 2px solid black;

}
.about-link button{
    color: #ffffff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 3rem;
    background-color: var(--clr-blue);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    padding: 12px 24px;
    border-radius: 30px;
    border:none;
    max-width:300px;
}
.link-primary-2 img{
    height: 12px;
    width: 16px;
    margin-left: 0.5rem;
}
.about-link{
    text-align:center;
}
.about-card-border{
    background-color: var(--clr-blue);
        height:3px;
        border:none;
        width: 85px;
        margin-left: auto;
        margin-right: auto;
        margin-top:1rem;
}
@media screen and (max-width:900px) {
    .main-about{
        display:flex;
        flex-direction: column;
        gap:30px;
        margin-left:auto;
        margin-right:auto;
        padding:60px 80px 60px 80px;
    }
}