.section {
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.layout h2 {
  text-align: center;
}
.wrapperCard {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.container {
  max-width: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
}
.card {
  display: flex;
}
.container .card .icon {
  background: var(--clr-base-100);
  display: flex;
  padding: 1.2rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(var(--primary), 0.3),
    rgb(var(--primary), 1)
  );
}

.container .card .content {
  background: var(--clr-content);
  padding: 1.2rem;
}

.container .card .content h3 {
  color: var(--clr-base-100);
  text-transform: uppercase;
}
.container .card .content p {
  color: var(--clr-base-100);
  font-weight: 900;
}
@media (min-width: 900px) {
  .section {
    flex-direction: row;
  }
  .layout {
    padding-botom: 6rem;
  }
}
