.link-primary {
    background-color: var(  --clr-blue);
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    padding: 20px 24px 12px 24px;
    border-radius: 4px;
}

.link-primary img {
    height: 12px;
    width: 16px;
    margin-left: 0.5rem;
}


@media screen and (max-width: 650px) {

    .link-primary {
        font-size: 15px;
    }

}