.footer {
  background-color: var(--clr-base-200);
  color: var(--clr-content);
  padding-block: 6rem;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}

.join {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.join h3 {
  font-size: 1.5rem;
  text-align: left;
}

.join a {
  color: var(--clr-content);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.socialSection {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--clr-content);
  border-bottom: 1px solid var(--clr-content);
  padding-block: 1rem;
  margin-top: 5rem;
}

.socialSection a {
  font-size: 1.5rem;
  margin-inline: 0.25rem;
}

.links {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  margin-block-start: 2rem;
}

.linkGroups {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  padding: 1rem;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.linkGroups ul {
  list-style: none;
}

.linksHeading {
  width: fit-content;
  border-bottom: 1px solid var(--clr-primary);
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.linkGroups li {
  margin: 1rem 0;
  font-size: 0.95rem;
  font-weight: 400;
}

@media (max-width: 900px) {
  .footer {
    padding-block: 2rem;
    text-align: center;
    padding-block-end: 6rem;
  }

  .details {
    flex-direction: column;
    gap: 1rem;
  }

  .join {
    align-items: center;
    margin-bottom: 0.3rem;
  }

  .details h3 {
    text-align: center;
  }

  .details h3 {
    font-size: 1.3rem;
  }

  .socialSection {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }

  .links {
    width: 100%;
    justify-content: center;
  }

  .copyright {
    margin-top: 1rem;
  }

  .linkGroups {
    grid-template-columns: repeat(2, min-content);
    text-align: left;
    row-gap: 2rem;
    width: 70%;
  }

  .linksHeading {
    font-size: 1rem;
  }

  .linkGroups li {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .linkGroups {
    width: 80%;
  }

  .linksHeading {
    font-size: 0.95rem;
  }

  .linkGroups li {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .linkGroups {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .linksHeading {
    font-size: 0.9rem;
  }

  .linkGroups li {
    font-size: 0.7rem;
  }
}
