.layout {
  padding-block: 6rem;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layout p {
  max-width: 600px;
  text-align: center;
}
.layout h2 {
  text-align: center;
}
.btns {
  display: flex;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  transition: border-color 200ms ease-in-out;
  max-width: 500px;
  width: 100%;
}
.btns .btn {
  border-radius: 0.6rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  justify-content: center;
}
.input {
  width: 100%;
  background-color: rgb(var(--content), 0.1);
  border: 1px solid rgb(var(--content), 0.2);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  padding: 0.2rem 0.8rem;
}
.input:disabled {
  cursor: wait;
}

.input:focus {
  outline: none;
}

.btns:focus-within {
  border: 2px solid var(--clr-primary-disable);
}

.green {
  color: #36df36;
  font-weight: 600;
}
.red {
  color: #ff0000;
  font-weight: 600;
}
.red a {
  padding: 0.5rem 0.7rem;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}
