.hashnode_cont_para {
    color: #5F7086;
    font-size: 20px;
    max-width: 792px;
    margin-left: auto;
    margin-right: auto;
}
.header_cont_3 h3{
    color: #181E25;
    font-weight: 600;
    font-size: 48px;
    max-width: 792px;
    margin: 1rem auto 2rem auto;
}
.header_cont_3{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header_cont_3 p{
    color: #5F7086;
    font-size: 20px;
    max-width: 792px;
    margin-left: auto;
    margin-right: auto;
   
}

.hashnode-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 1rem;
    padding: 1rem;
    
}
.hashnode-container .hashnode-card {
    border: 1px solid #DEE4ED;
    border-radius: 8px 8px 0px 0px;
}

.hashnode-container .hashnode-card .hashnode-details {
    padding: 20px;
}

.hashnode-container h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

.hashnode-container p {
    font-size: 18px;
    color: #5F7086;
    line-height: 145%;
}
.hashnode-current-tracks h2{
     margin: auto;
     text-align: center;
}

.hashnode-container img {
    width: 100%;
}
.hashnode-participate-card-1{
    gap: 5rem;
    max-width: 480px;
    max-height: auto;
    background: #F3F5F7;
    border-radius: 8px;
    padding: 80px 20px 80px 20px;
}
.hashnode-participate-card {
    display:flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    padding: 50px;
    margin-top: auto;
}
.hashnode-participate-track{
    display: flex;
    max-width: 1200px;
    border: 1px solid #DEE4ED;
    border-radius: 8px 8px 0px 0px;
   margin:auto;
   height:auto;
   gap: 2rem;
}
.hashnode-participate-special-track {
   margin: auto;
}
.hashnode-participate-track-image{
    height: 327px;
    width: 480px;
}
.hashnode-ul{
    color: black;
    list-style: disc;
}
.hashnode_text{
    margin-left:auto;
    margin-right:auto;
    width: 584px;
    height: 243px;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
    padding-top: 1rem;
  }
#hashnode-check-tracks{
    margin-top: 8%;
    padding: 12px 24px;
    gap: 10px;
    width: 300px;
    height: 53px;
    background: #4094EC;
    border-radius: 4px;
    font-size: 20px;
    line-height: 145%;
    border: none;
    color:  #FFFFFF;
    cursor: pointer;
  }
  .hashnode-ul span{
    font-weight: 600;
  }
  .prize-heading{
    margin-top: auto;
}
.prize-heading h1{
    text-align: center;
}
.prize-heading p{
    text-align: center;
}
  @media screen and (max-width: 1076px) {
    .hashnode-participate-card {
        flex-direction: column;
        max-width: 600px;
        margin-top: 15rem;
    }
    .hashnode_cont_para{
        margin: 1rem auto 2rem auto;
        }
 
    .hashnode-participate-track{
        display: flex;
        max-width: 900px;
        border: 1px solid #DEE4ED;
        border-radius: 8px 8px 0px 0px;
       margin:auto;
       height:auto;
       gap: 2rem;
    }

}
@media screen and (max-width: 900px){
    .hashnode_cont_para{
        margin-top: 2rem ;
        margin-left: auto;
        margin-right: auto;
        }
        .hashnode-participate-track{
            display: flex;
            flex-direction: column;
            max-width: 500px;
        }
}
@media screen and (max-width: 800px) {
    .hashnode-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .hashnode_cont_para{
        margin-top: 35rem ;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        }
    .hashnode-participate-track{
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
    .hashnode-participate-track-image{
        margin: auto;
    }
    .hashnode-participate-special-track p{
        margin-left: 4%;
    }
}
@media screen and (max-width: 550px) {

    .hashnode-container p {
        font-size: 15px;
    }
    .hashnode-participate-track-image{
        margin: auto;
        height: 227px;
        width: 380px;
    }
    .hashnode-participate-special-track p{
        margin-left: 4%;
    }
    .hashnode-participate-track{
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .hashnode-participate-track-image{
        margin: auto;
        height: 227px;
        max-width: 300px;
    }
    .hashnode-participate-card {
        flex-direction: column;
        max-width: 600px;
        margin-top: 25rem;
    }
}