.accordion-item .question {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  color: white;
  background-color: rgb(66 82 102/1);
  color: rgb(251 250 255/1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.accordion-item {
  margin-top: 1.5rem;
}

.accordion-item:first-child {
  margin-top: 0rem;
}
.accordion-item .answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  background-color: rgb(41 51 64/1);
  color: rgb(251 250 255/1);
}

.active {
  max-height: max-content;
  padding: 24px 12px 24px 12px;
}

.accordion-item .icon {
  font-size: 12px;
}
