.header_button {
  background-color: #4094ec;
  border-radius: 31px;
  padding: 8px 16px 8px 16px;
}
.header_cont_1_a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header_cont_1 {
  padding-top: 10rem;
}
.header_free_community {
  font-family: "General Sans", sans-serif;
  width: 90%;
  font-size: 76px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 auto;
}
.header_free {
  height: 1.5em;
  background: -webkit-linear-gradient(
      90deg,
      rgba(167, 129, 219, 1) 0%,
      rgba(255, 208, 129, 1) 50%,
      rgba(207, 93, 113, 1) 100%
    ),
    url("../../assets/coming_soon_bg.png");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_para_about {
  font-family: "General Sans", sans-serif;
  font-size: 20px;
  font-weight: 450;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  width: 57%;
  margin: 0 auto;
}

.header_cont_2_b_youtube {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #dee4ed;
  padding: 1em 2em;
  font-family: "General Sans", sans-serif;
  font-size: 18px;
  color: #181e25;
  gap: 1em;
}
.header_cont_2_b_discord {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #dee4ed;
  padding: 1em 2em;
  font-family: "General Sans", sans-serif;
  font-size: 18px;
  color: #181e25;
  gap: 1em;
}
.header_cont_2_b {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 550px) {
  .header_cont_1 {
    text-align: center;
  }
  .header_free_community {
    font-family: "General Sans", sans-serif;
    font-size: 50px;
  }
  .header_para_about {
    font-size: 18px;
    line-height: 25px;
    width: 85%;
    margin-top: -1.5rem;
  }
  .header_cont_2_b {
    flex-direction: column;
  }
}
@media screen and (max-width: 370px) {
  .header_free_community {
    font-size: 40px;
  }
  .header_para_about {
    font-size: 16px;
    line-height: 20px;
    width: 85%;
    margin-top: -1.75rem;
  }
}
