.founder-container {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.founder-container .banner-container {
    width: 40%;
    position: relative;
}

.founder-container .banner {
    height: 100%;
    object-fit: contain;
    width: fit-content;
    margin: auto;
}

.founder-container .purple-bg {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 50%;
    height: 80%;
    background-color: var(--clr-primary);
    z-index: -1;
}

.founder-container .yellow-bg {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 50%;
    height: 60%;
    background-color: var(--clr-yellow);
    z-index: -1;
}

.founder-container .info-container {
    width: 50%;
    margin-left: 3rem;
}

.founder-container h2 {
    font-size: 36px;
    font-weight: 600;
}

.founder-container p {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 145%;
    color: #5F7086;
    margin: 2rem 0;
}

.founder-container p .highlight {
    color: var(--clr-dark);
    font-weight: 500;
}

.social-pills {
    display: flex;
    gap: 1rem;
}

.social-pills .pill {
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.pill-twitter {
    background: #00ACEE;
}

.pill-linkedin {
    background: #0A66C2;
}

.pill-web {
    background: #4094EC;
}

.pill-instagram {
    background: #E4405F;
}

@media screen and (max-width: 1000px) {

    .founder-container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }

    .founder-container .banner-container {
        width: 50%;
        margin: auto;
        height: fit-content;
    }

    .founder-container .info-container {
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 650px) {

    .founder-container {
        text-align: center;
        padding: 0;
    }
    .founder-container h2 {
        font-size: 24px;
    }

    .founder-container p {
        font-size: 15px;
    }

    .founder-container .banner-container {
        width: 80%;
        margin: auto;
        height: fit-content;
    }

    .social-pills {
        justify-content: center;
        align-items: center;
    }

    .social-pills .pill {
        width: 30px;
        height: 30px;
    }

}