.header__container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  gap: 1rem;
  padding: 1rem;
}

.header__heading {
  font-size: 4rem;
  font-weight: 600;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--clr-gray-light);
}
.header__heading span:nth-child(3) {
  color: var(--clr-blue);
}

.header__heading span:nth-child(1) {
  color: var(--clr-yellow);
}

.tag-line {
  color: var(--clr-gray-light);
  max-width: 50vw;
  text-align: center;
}

.tag-line span {
  font-weight: 600;
  margin: 0rem 0.5rem;
}

.links {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.link {
  display: flex;
  gap: 0.5rem;
  padding: 0.7rem 1.5rem;
  justify-content: center;
  align-items: center;
  background: gray;
  border-radius: 5px;
  font-weight: 600;
}

.links img {
  max-width: 1rem;
}

.link-primary {
  background: var(--clr-blue);
  color: var(--clr-white);
  border: 1px solid var(--clr-blue);
  transition: 0.3s ease-in-out;
}

.link-primary:hover,
.link-primary:focus {
  background: transparent;
  transition: 0.3s ease-in-out;
}

.link-secondary {
  background: var(--clr-yellow);
  color: var(--clr-dark);
  border: 1px solid var(--clr-yellow);
  transition: 0.3s ease-in-out;
}

.link-secondary:hover,
.link-secondary:focus {
  background: transparent;
  color: var(--clr-white);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 800px) {
  .header__container {
    max-height: 50vh;
  }

  .header__heading {
    font-size: 2.5rem;
  }
  .tag-line {
    max-width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .header__heading {
    font-size: 2rem;
    gap: 0.3rem;
  }
  .links {
    gap: 0.5rem;
  }
  .link {
    padding: 0.7rem 1rem;
  }
}
